html{
    height: auto;
    min-height: 100%;
}
a{
    color: rgb(7, 33, 119);
    font-weight: bold;
    background-color: rgba(151, 219, 238, 0.275);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.4em;
    padding: 5px;
    border: 10px double black;
    text-decoration: none;
    display: grid;
    margin: auto;
    padding-left: 20px;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 450px;
}
li{
    border-bottom: 3px solid rgb(6, 10, 10);
    padding: 5px;
}
a:hover{
    color: #1d3557;
    background-color: #0cbdee93;
    border: 10px double #1d3557;
}
h1{
    background-color: #1d3557dc;
    border-bottom: 10px double white;
    color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
    display: block;
    margin: auto;
    width: 600px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
	background: linear-gradient(to right, #E5F0FE, #E5F0FE, #E5F0FE);
}
div{
    text-align: center;
}
hr{
    border-bottom: 4px solid #1d3557;
    width: 650px;
}
p{
    text-align: center;
    padding: 0;
    border-radius: 300px;
    margin: 5px;
    margin: 0 auto;
    background-color: #0cbdee46;
    width: 650px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}